@charset "UTF-8";

@media screen and (min-width:535px){

    header{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    header  > h1{
        text-align: left;
        margin-right: 100px;
    }

    menu{
        display: flex;
        flex-flow: row wrap;
    }

    menu > ul > li{
        width: 70px;
        display: inline-block;
    }
}


