@charset "UTF-8";

@media screen and (min-width:600px){

    header{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    header  > h1{
        text-align: left;
        margin-right: 100px;
    }

    menu > ul > li{
        color: white;
        background-color: black;
        padding: 10px;
        margin: 0px;
        border-radius: 6px;
        list-style-type: none;
        width: 70px;
        display: inline-block;
    }
}


